#container {
  z-index: 5;
  background-color: rgb(52, 58, 64);
  grid-column: 2/3;
  grid-row: 1/4;
  color: rgb(173, 181, 189);
}
#container > header {
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container > header > #pdp {
  margin-left: 2%;
}
#container > header > #info {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
}

#skills {
  margin-top: 5%;
}
#skills > nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#skills .circle {
  background: rgb(39, 43, 48);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 3em;
  -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
          clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
#skills p {
  font-size: 3em;
}
#skills > #first {
  display: flex;
  justify-content: space-around;
}
#skills > #first > #circle1,
#skills > #first #circle2,
#skills > #first #circle3,
#skills > #first #circle4 {
  background: black;
}
#skills > #second {
  display: flex;
  justify-content: space-around;
  margin-top: 20vh;
}
#skills > #second > #circle2,
#skills > #second #circle3,
#skills > #second #circle4,
#skills > #second #circle5 {
  background: black;
}
#skills > #third {
  display: flex;
  justify-content: space-around;
  margin-top: 20vh;
}
#skills > #third > #circle1,
#skills > #third #circle2,
#skills > #third #circle3 {
  background: black;
}
#skills > #fourth {
  display: flex;
  justify-content: space-around;
  margin-top: 20vh;
}
#skills > #fourth > #circle3,
#skills > #fourth #circle4,
#skills > #fourth #circle5 {
  background: black;
}
#skills > #five {
  display: flex;
  justify-content: space-around;
  margin-top: 20vh;
}
#skills > #five > #circle1,
#skills > #five #circle2,
#skills > #five #circle3 {
  background: black;
}
#skills > #six {
  display: flex;
  justify-content: space-around;
  margin-top: 20vh;
}
#skills > #six > #circle4,
#skills > #six #circle5 {
  background: black;
}
#skills > #seven {
  display: flex;
  justify-content: space-around;
  margin-top: 20vh;
}
#skills > #seven > #circle1,
#skills > #seven #circle2 {
  background: black;
}
#skills > #eight {
  display: flex;
  justify-content: space-around;
  margin-top: 20vh;
}
#skills > #eight > #circle5,
#skills > #eight #circle4,
#skills > #eight #circle3,
#skills > #eight #circle2 {
  background: black;
}
#skills > #nine {
  display: flex;
  justify-content: space-around;
  margin-top: 20vh;
}
#skills > #nine > #circle1,
#skills > #nine #circle2,
#skills > #nine #circle3,
#skills > #nine #circle4 {
  background: black;
}
#skills > #ten {
  display: flex;
  justify-content: space-around;
  margin-top: 20vh;
}
#skills > #ten > #circle5,
#skills > #ten #circle4,
#skills > #ten #circle3 {
  background: black;
}
#skills > #eleven {
  display: flex;
  justify-content: space-around;
  margin-top: 20vh;
}
#skills > #eleven > #circle5,
#skills > #eleven #circle4,
#skills > #eleven #circle3 {
  background: black;
}
#skills > h2,
#skills h3 {
  text-align: center;
}

#particles-js {
  z-index: 1;
  height: 100%;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 1fr 1fr 1fr;
}

.particles-js-canvas-el {
  grid-column: 1/4;
  grid-row: 1/4;
}/*# sourceMappingURL=enSavoirPlus.css.map */