// definition de taille logo
$tailleLogo: 3em;


.card{
    z-index: 5;
    grid-template-rows: 10% 50%;
    text-align: center;
    width: 80%;
    height: 70%;
    color: black;
    grid-column: 2/3;
    grid-row: 1/4;
    background-color: rgb(52, 58, 64);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    align-self: center;
    justify-self: center;
    color: rgb(173, 181, 189);
    clip-path: polygon(0 0, 100% 0, 100% 87%, 50% 100%, 0 87%);
    >img{
        justify-self: center;
        width: 50%;
        border-radius: 200px;
        grid-row-start: 2;
    }
    >aside{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 5% 5% 0 5%;
        gap: 10px;
            >a>#icone1{
                grid-column: 1 / 2;
                justify-self: center;
                width: $tailleLogo;
            }
            >a>#icone2{
                grid-column: 2 / 3;
                justify-self: center;
                width: $tailleLogo;
            }

        >button{
            height: 5em;
            border-radius: 15px;
            background-color: rgb(73, 80, 87);
            &:active{
                box-shadow: inset -2px -2px 3px,
                inset 2px 2px 3px;
            }
            &:hover{
                background-color: rgb(206, 212, 218);
                cursor: pointer;
            }
        }
    }
    
}
#particles-js {
    z-index: 2;
    display: grid;
    grid-column: 1/4;
    grid-row: 1/4;
    align-self: stretch;
    justify-self: stretch;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    background: black;
}
.particles-js-canvas-el{
    grid-row: 1/4;
    grid-column: 1/4;
}

//responsive en media

@media screen and (max-width: 960px) and (min-width: 650px){
    .card{
        grid-column: 1 / 4;
        grid-row: 1/4;
        width: 50%;
    }
    
}
@media screen and (max-width: 650px) {
    .card{
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    }
}
