
.card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 50%;
    position: absolute;
    text-align: center;
    top: 10%;
    width: 30%;
    height: 60%;
    margin-left: 35%;
    color: black;
    background-color: rgb(68, 68, 68);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    >img{
        justify-self: center;
        width: 50%;
        border-radius: 200px;
        grid-row-start: 2;
    }
    >aside{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 5% 5% 0 5%;
        gap: 10px;
        >button{
            height: 5em;
            border-radius: 15px;
            &:active{
                box-shadow: inset -2px -2px 3px,
                inset 2px 2px 3px;
            }
            &:hover{
                background-color: aliceblue;
                cursor: pointer;
            }
        }
    }
    
}
#particles-js {
    background: black;
    height: 100vh;
}