html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
}

.rotate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(21deg) translate(-50%, -50%);
}

main {
    display: flex;
    overflow: hidden;

    >#flammeVaisseau {
        position: absolute;
        display: none;
        top: 50%;
        left: 46%;
        transform: translate(-50%, -50%);
    }

    >#vaisseau {
        // animation: animate 1s infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    >#mainSection {
        color: rgb(213, 160, 160);
        text-align: center;
        min-width: 100vw;
        min-height: 100vh;
        background: url('../images/fond-espace.png');
    }

    >#seconSection {
        color: rgb(213, 160, 160);
        text-align: center;
        min-width: 100vw;
        min-height: 100vh;
        background: url('../images/fond-espace.png');

        >img {
            width: 50%;
        }
    }
}

@keyframes animate {
    0% {
        transform: rotate(1deg) translate(-50%, -50%);
    }

    5% {
        transform: rotate(2deg) translate(-50%, -50%);
    }

    10% {
        transform: rotate(3deg) translate(-50%, -50%);
    }

    15% {
        transform: rotate(4deg) translate(-50%, -50%);
    }

    20% {
        transform: rotate(5deg) translate(-50%, -50%);
    }

    25% {
        transform: rotate(6deg) translate(-50%, -50%);
    }

    30% {
        transform: rotate(7deg) translate(-50%, -50%);
    }

    35% {
        transform: rotate(8deg) translate(-50%, -50%);
    }

    40% {
        transform: rotate(9deg) translate(-50%, -50%);
    }

    45% {
        transform: rotate(10deg) translate(-50%, -50%);
    }

    50% {
        transform: rotate(11deg) translate(-50%, -50%);
    }

    55% {
        transform: rotate(12deg) translate(-50%, -50%);
    }

    60% {
        transform: rotate(13deg) translate(-50%, -50%);
    }

    65% {
        transform: rotate(14deg) translate(-50%, -50%);
    }

    70% {
        transform: rotate(15deg) translate(-50%, -50%);
    }

    75% {
        transform: rotate(16deg) translate(-50%, -50%);
    }

    80% {
        transform: rotate(17deg) translate(-50%, -50%);
    }

    85% {
        transform: rotate(18deg) translate(-50%, -50%);
    }

    90% {
        transform: rotate(19deg) translate(-50%, -50%);
    }

    95% {
        transform: rotate(20deg) translate(-50%, -50%);
    }

    100% {
        transform: rotate(21deg) translate(-50%, -50%);
    }
}







.backToMenu {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
    color: #000;
    background: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: arial;
    text-decoration: none;
    box-shadow: rgb(50 50 93 / 25%) 0 0 100px -20px, rgb(0 0 0 / 30%) 0 0 60px -15px;
}

.backToMenu:hover {
    background: #d5d5d5;
    box-shadow: rgb(50 50 93 / 25%) 0 0 100px -20px, rgb(0 0 0 / 30%) 0 0 60px 0px;
}

iframe[sandbox] .backToMenu {
    display: none;
}